
// Source : https://color.adobe.com/search?q=air
         //Theme extracted from
         //Colorful smoke
         
$wp: rgba(239,242,242, 1); //White primary
$ws: rgba(188,242,242, 1); //White secondary
$gp: rgba(59,191,191, 1); //Green primary
$gs: rgba(119,216,216, 1); //Green secondary
$bp: rgba(12,12,12, 1); //Black primary
